$background-color: #fff;

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$text-color-main: #364050;
$text-color-second: #f5f5f5;
$color-main: #364050;
$color-second: #cdd3da;
$color-error: #dcc1c4;

$border-main: 1px solid #a5a5c9;
$input-height: 40px;
$radius-main: 8px;
$button-height: 50px;

$margin-main: 15px;
$margin-second: 30px;